@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}

body {

    background-color: #f4f4f4;
    background-image: url('https://i.pinimg.com/originals/10/0e/40/100e40496828d3aff5f25586879cd7cd.jpg');
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    transition: 1s;
}

header:hover{
    color: #d21617;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-position: 50% 50%;
}

.gallery img:hover {
    transform: scale(1.1);
}

#back{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 19px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.footer-list {
    margin-top: 150px;
    display: flex; 
    flex-direction: column;
    align-items: center;
  
    
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}


p:hover {
    color: #D21617;
    transition: 0.7s;
}